<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>passport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96E7375E1E3400DF00E7EC35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E737721E3400E000E7EC35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E7377D1E3400E000E7EC35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
